@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  max-width: 100%;
  font-family: "Rubik", "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #444444;
  background-color: #FFFFFF;

}

.visually-hidden {
  margin: 0;
  padding: 0;
  position: fixed;
  transform: scale(0);
}

.container-header {
  width: 1160px;
  height: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: #FFE17F;
}

.container-inner {
  height: 185px;
  margin-bottom: 35px;
}

.main-inner {
  min-width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header-logo {
  margin-bottom: 30px;
  margin-top: -25px;
  margin-left: 60px;
}

.page-header {
  position: relative;
  background: #FFE17F;
  color: #444444;

}

.header-section-wrraper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 30px;

}

.header-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 510px;
  border: 2px #000000 solid;
  margin-left: 60px;
  margin-right: 54px;
}

.text-header-search {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.button-search-button {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.my-header-login {
  font-family: "Rubik", "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  margin-right: 48px;

}

.my-header-account {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  margin-right: 28px;
}

.my-header-compare {
  font-family: "Rubik", "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  margin-right: 60px;
}

.my-header-choise {
  font-family: "Rubik", "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  margin-left: auto;
  margin-right: 60px;

}

.my-navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 60px;
  padding: 0;
  list-style: none;
}

.my-navigation-item-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.catalog-nav {
  margin-left: 60px;
  margin-right: 275px;
}

.delivery-nav,
.warranty-nav {
  margin-right: 45px;
}

.main-container {
  flex-grow: 1;
}

.slider-container {
  position: relative;
  margin-top: -35px;
  margin-bottom: 70px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -170px;
}

.slider-item-show {
  display: flex;
  justify-content: space-between;
}

.slider-item-left {
  text-align: center;
  margin-right: 40px;
}

.slider-item-right {
  margin-top: 120px;
}

.slider-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 545px;
  height: 100px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.slider-text {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  width: 560px;
  height: 60px;
}

.slider-link-wrap {
  display: inline-block;
  width: 560px;
  height: 40px;
}

.slider-navigation {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 260px;
}

.parametrs {
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.parametrs-distance {
  font-family: "Rubik";
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  background: #FFFFFF;
  display: inline-block;
}

.parametrs-description {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
  display: inline-block;
}

.categories {
  min-height: 270px;
  margin-bottom: 70px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

.categories-item-link {
  text-decoration: none;
}

.cats-name {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  background-color: #FFFFFF;
  color: #000000;
}

.services {
  min-height: 390px;
  background-color: #F0F0F0;
}

.container-services {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  margin-top: -80px;
  margin-bottom: 70px;
}

.services-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
  height: 190px;
  margin-top: -40px;
}

.services-delivery-wrapper {
  margin-top: -40px;
}

.services-tab-current,
.services-tab {
  margin-bottom: 45px;
}

.services-description-delivery {
  width: 455px;
  height: 175px;
  margin-bottom: 75px;
}

.services-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.services-desc {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-top: 35px;
}

.delivery-promo {
  margin-bottom: 70px;
}

.container-promo {
  background: #F0F0F0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1160px;
  margin: 0 auto;
}

.delivery-description-promo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: #F0F0F0;
  color: #000000;
  margin: 0;
  padding: 0;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about-us-header {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;

}

.about-us-text {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

.about-item {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.about-item-text {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  background-color: #FFFFFF;
  color: #000000;
}

.more-about {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
}

.name-of-shop {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

.contacts-addres-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.contacts-phone {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  background-color: #FFFFFF;
  color: #444444;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 30px;
}

.contacts-schedule-item {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

address {
  margin-top: 15px;
  margin-bottom: 30px;
}

.contacts-subtitle {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

.contacts-feedback {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #000000;
}

.subscribe-section {
  background: #F0F0F0;
  min-height: 430px;
}

.container-subscribe {
  width: 1160px;
  margin: 0 auto;
}

.subscribe-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 65px;
  padding-right: 200px;
}

.subscribe-text {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-top: 75px;
}

.subscribe-desc {
  display: flex;
  align-items: center;
  justify-content: start;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 145px;
  margin-bottom: 45px;
}

#email-subscribe {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe-button {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-is-free {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 62px;
}

.footer-wrapper-bottom {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 444px;
  align-items: baseline;
  justify-content: space-between;
}

.social-button-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer {
  background-color: #444444;
}

.footer-wrapper-address {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 30px;
}

.contacts-phone-footer {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.footer-menu-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.social-button {
  text-decoration: none;
  color: #FFE17F;
}

.main-inner {
  width: 1440px;
  margin: 0 auto;
}

.inner-header {
  margin-left: 200px;
  width: 1080px;
  margin-bottom: 35px;
}

.catalog-header {
  background-color: #F0F0F0;
  display: flex;
  justify-content: start;
  min-height: 70px;
  align-items: center;
  width: 1440px;
}

.filter {
  margin-left: 200px;
  margin-right: 210px;
}

.sorting {
  margin-left: 200px;
  margin-right: 210px;
}

.select-control {
  margin-right: 44px;
  height: 30px;
}

.wrapper-catalog-product {
  display: flex;
  background-color: #F0F0F0;
  width: 1440px;
}

.catalog-products {
  width: 840px;
  background-color: #FFFFFF;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-top: 70px;
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card-image {
  margin-right: 40px;
  margin-bottom: 35px;
}


.left-side {
  margin-left: 140px;
  width: 200px;
  margin-right: 60px;
}

.inner-header-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 430px;
}

.breadcrumbs-link {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  margin-right: 36px;
}

.filter,
.sorting {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-title {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.control {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
  padding: 0;
}

.details-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-show-more {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 760px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 44px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 760px;
  height: 70px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EBEBEB;
}

.pagination-text {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 25px 25px;
}

.pagination-link {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
.footer-logo{
  width: 1160px;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 35px;
}
