@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #444444;
  background-color: #FFFFFF;

}

.visually-hidden {
  margin: 0;
  padding: 0;
}

.container-header {
  width: 1160px;
  height: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: #FFE17F;
}

.header-logo {
  margin-bottom: 30px;
  margin-top: -25px;
  margin-left: 60px;
}

.page-header {
  background: #FFE17F;
  color: #444444;

}

.header-section-wrraper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 30px;

}

.header-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 520px;
  border: 2px #000000 solid;
  margin-left: 60px;
}

.text-header-search {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.button-search-button {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.my-header-login {
  font-family: "Rubik", "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  margin-left: 55px;
}

.my-header-compare {
  font-family: "Rubik", "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  margin-left: 180px;
  margin-right: 40px;
}

.my-header-choise {
  font-family: "Rubik", "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;
  margin-left: auto;
  margin-right: 60px;

}

.my-navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 60px;
  padding: 0;
  list-style: none;
}

.my-navigation-item-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.catalog-nav {
  margin-left: 60px;
  margin-right: 275px;
}

.delivery-nav,
.warranty-nav {
  margin-right: 45px;
}

.main-container {
  flex-grow: 1;
}

.slider-container {
  margin-top: -110px;
  margin-bottom: 70px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -170px;
}

.slider-item-show {
  display: flex;
  justify-content: space-between;
}

.slider-item-left {
  width: 560px;
  height: 560px;
  text-align: center;
  margin-right: 40px;
}

.slider-item-right {
  width: 560px;
  height: 400px;
  margin-top: 120px;
}

.slider-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 545px;
  height: 100px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.slider-text {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  width: 560px;
  height: 60px;
}

.slider-link-wrap {
  display: inline-block;
  width: 560px;
  height: 40px;
}

.slider-navigation {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 260px;
}

.parametrs {
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.parametrs-distance {
  font-family: "Rubik";
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  background: #FFFFFF;
  display: inline-block;
}

.parametrs-description {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
  display: inline-block;
}

.categories {
  min-height: 270px;
  margin-bottom: 70px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

.categories-item-link {
  text-decoration: none;
}

.cats-name {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  background-color: #FFFFFF;
  color: #000000;
}

.services {
  min-height: 390px;
  background-color: #F0F0F0;
}

.container-services {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  margin-top: -80px;
  margin-bottom: 70px;
}

.services-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 190px;
}

.services-tab-current,
.services-tab {
  margin-bottom: 45px;
}

.services-description-delivery {
  width: 455px;
  height: 175px;
  margin-bottom: 75px;
}

.services-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.services-desc {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-top: 35px;
}

.delivery-promo {
  margin-bottom: 70px;
}

.container-promo {
  background: #F0F0F0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1160px;
  margin: 0 auto;
}

.delivery-description-promo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: #F0F0F0;
  color: #000000;
  margin: 0;
  padding: 0;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1160px;
  height: 545px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about-us-header {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;

}

.about-us-text {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

.about-item {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.about-item-text {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  background-color: #FFFFFF;
  color: #000000;
}

.more-about {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
}

.name-of-shop {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

.contacts-addres-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.contacts-phone {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  background-color: #FFFFFF;
  color: #444444;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 30px;
}

.contacts-schedule-item {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

address {
  margin-top: 15px;
  margin-bottom: 30px;
}

.contacts-subtitle {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

.contacts-feedback {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #000000;
}

.subscribe-section {
  background: #F0F0F0;
}

.container-subscribe {
  width: 1160px;
  margin: 0 auto;
}

.subscribe-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 65px;
  padding-right: 200px;
}

.subscribe-text {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-top: 75px;
}

.subscribe-section {
  height: 430px;
}

.subscribe-desc {
  display: flex;
  align-items: center;
  justify-content: start;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 145px;
  margin-bottom: 45px;
}

#email-subscribe {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe-button {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-is-free {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.footer-wrapper-bottom {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer {
  background-color: #444444;
}

.footer-wrapper-address {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.contacts-phone-footer {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.footer-menu-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.social-button {
  text-decoration: none;
  color: #FFE17F;
}

.inner-header-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.filter,
.sorting {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-title {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.control {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.details-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-show-more {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-text {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
